<template>
  <v-app-bar app color="primary" dark>
    <h1 class="ma-ma-auto ml-2 text-no-wrap">Quentin's Sport session</h1>
    <v-spacer></v-spacer>
    <div>
      <v-btn :to="{ name: 'Session' }" color="primary" class="mr-2">
        Session
      </v-btn>
      <v-btn :to="{ name: 'Exercises' }" color="primary" class="mr-2">
        Exercises
      </v-btn>
    </div>
  </v-app-bar>
</template>

<script>
export default {
  name: 'Header',
  computed: {},
  methods: {}
};
</script>
