<template>
  <v-app id="inspire">
    <Header />
    <v-main class="lighten-3">
      <v-sheet rounded="lg">
        <slot />
      </v-sheet>
    </v-main>
  </v-app>
</template>

<script>
import Header from '../components/Header.vue';
export default {
  data: () => ({}),
  components: {
    Header
  }
};
</script>
