<template>
  <component :is="layout">
    <router-view :key="$route.fullPath" :layout.sync="layout" />
  </component>
</template>

<script>
import LayoutDefault from './layouts/LayoutDefault';

export default {
  name: 'App',
  components: {
    LayoutDefault
  },
  data() {
    return {
      layout: 'LayoutDefault'
    };
  }
};
</script>
