<template>
  <v-container>
    <v-row>
      <v-col class="d-flex justify-center">
        <v-sheet
          rounded="lg"
          elevation="4"
          class="pa-4 ma-2"
          style="max-width: 400px"
        >
          <h2 class="ma-4">Exercises</h2>
          <v-row>
            <v-col
              cols="12"
              class="d-flex justify-center pa-0 ma-0"
              v-for="(ex, index) of exercises"
              :key="index"
            >
              <v-chip class="my-1">
                {{ ex.label }}
              </v-chip>
            </v-col>
          </v-row>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Session',
  computed: mapState(['exercises'])
};
</script>
