<template>
  <v-container fluid>
    <v-row>
      <v-col sm="3" class="d-none d-sm-flex"></v-col>
      <v-col sm="6" cols="7" class="pa-1">
        <v-row v-if="state == sessionState.initial">
          <v-col class="d-flex justify-center">
            <v-sheet
              rounded="lg"
              elevation="4"
              class="pa-4 ma-2"
              style="width: 400px"
            >
              <v-row class="ml-2 mt-2"><h2>Parameters</h2></v-row>
              <v-row>
                <v-col sm="12" class="d-flex justify-center pb-0">
                  <v-text-field
                    name="length"
                    label="Session length"
                    v-model="length"
                    suffix="minutes"
                    style="max-width: 300px"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col sm="12" class="d-flex justify-center">
                  <v-text-field
                    name="Difficulty"
                    label="Difficulty"
                    v-model="difficulty"
                    style="max-width: 300px"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="ma-0">
                <v-col sm="12" class="d-flex flex-wrap justify-center">
                  <v-checkbox
                    label="abdos"
                    v-model="categories"
                    value="abdos"
                    class="mx-2"
                  />
                  <v-checkbox label="pecs" v-model="categories" value="pecs" />
                  <v-checkbox
                    label="triceps"
                    v-model="categories"
                    class="mx-2"
                    value="triceps"
                  />
                  <v-checkbox
                    label="legs"
                    class="mx-2"
                    v-model="categories"
                    value="legs"
                  />
                  <v-checkbox
                    label="shoulders"
                    class="mx-2"
                    v-model="categories"
                    value="shoulders"
                  />
                  <v-checkbox
                    label="biceps"
                    v-model="categories"
                    class="mx-2"
                    value="biceps"
                  />
                  <v-checkbox
                    label="back"
                    v-model="categories"
                    class="mx-2"
                    value="back"
                  />
                </v-col>
              </v-row>
              <v-row class="ma-0">
                <v-col sm="12" class="d-flex justify-center">
                  <v-btn large color="primary" v-on:click="startSession">
                    start
                  </v-btn>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
        </v-row>
        <v-row v-if="state == sessionState.interlude">
          <v-col class="d-flex justify-center">
            <v-sheet
              rounded="lg"
              elevation="4"
              class="pa-4 ma-2"
              style="width: 400px"
            >
              <v-row>
                <v-col sm="12" class="d-flex justify-center">
                  <h1>{{ sessionExercices[exerciceNumber].label }}</h1>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
        </v-row>
        <v-row
          v-if="
            state == sessionState.exercising ||
            state == sessionState.sessionPaused
          "
        >
          <v-col class="d-flex justify-center">
            <v-sheet
              rounded="lg"
              elevation="4"
              class="pa-4 ma-2"
              style="width: 400px"
            >
              <v-row>
                <v-col sm="12" class="d-flex justify-center">
                  <h2>{{ sessionExercices[exerciceNumber].label }}</h2>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="12" class="d-flex justify-center">
                  <v-progress-circular
                    :rotate="360"
                    :size="200"
                    :width="30"
                    :value="
                      (timer.timer * 100) /
                      sessionExercices[exerciceNumber].duration
                    "
                    color="primary"
                  >
                    <h1 class="ma-2">
                      {{ timer.timer }}
                    </h1>
                  </v-progress-circular>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  sm="12"
                  class="d-flex justify-center"
                  v-if="state == sessionState.exercising"
                >
                  <v-btn large color="primary" v-on:click="pauseSession">
                    pause
                  </v-btn>
                </v-col>
                <v-col
                  sm="12"
                  class="d-flex justify-center"
                  v-if="state == sessionState.sessionPaused"
                >
                  <v-btn large color="primary" v-on:click="unpauseSession">
                    continue
                  </v-btn>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
        </v-row>
        <v-row v-if="state == sessionState.pausing">
          <v-col class="d-flex justify-center">
            <v-sheet
              rounded="lg"
              elevation="4"
              class="pa-4 ma-2"
              style="width: 400px"
            >
              <v-row>
                <v-col sm="12" class="d-flex justify-center">
                  <h1>Pause</h1>
                </v-col>
              </v-row>

              <v-row>
                <v-col sm="12" class="d-flex justify-center">
                  <v-progress-circular
                    :rotate="360"
                    :size="200"
                    :width="30"
                    :value="
                      (timer.timer * 100) /
                      (sessionExercices[exerciceNumber].pause / difficulty)
                    "
                    color="primary"
                  >
                    <h1 class="ma-2">
                      {{ timer.timer }}
                    </h1>
                  </v-progress-circular>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-center">
            <v-sheet
              rounded="lg"
              elevation="4"
              class="pa-4 ma-2"
              style="width: 400px"
            >
              <h2 class="ma-4">Session</h2>
              <v-row>
                <v-col
                  cols="12"
                  class="d-flex justify-center pa-0 ma-0"
                  v-for="(ex, index) of sessionExercices"
                  :key="index"
                >
                  <v-chip v-if="index >= exerciceNumber" class="my-1">
                    {{ ex.label }}
                  </v-chip>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="5" sm="3" class="pa-0">
        <v-sheet
          v-if="state != sessionState.initial"
          elevation="0"
          class="pa-4 ma-2"
        >
          <v-progress-linear
            :value="((exerciceNumber + 1) / sessionExercices.length) * 100"
            height="50"
            color="primary"
            striped
            rounded
          >
            <strong>
              {{ exerciceNumber + 1 }} /
              {{ sessionExercices.length }}
            </strong>
          </v-progress-linear>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Exercise } from '@/interfaces/exercise';
import { sessionState } from '@/interfaces/sessionState';
import Vue from 'vue';
import { mapState } from 'vuex';
import { Timer } from '@/services/timer';

export default Vue.extend({
  name: 'Session',
  mounted() {
    this.buildSession();
  },
  data() {
    return {
      length: 40,
      difficulty: 1.7,
      sessionExercices: [] as Array<Exercise>,
      exerciceNumber: 0,
      timer: new Timer(),
      state: sessionState.initial,
      sessionState: sessionState,
      categories: [
        'abdos',
        'legs',
        'shoulders',
        'pecs',
        'triceps',
        'biceps',
        'back'
      ]
    };
  },
  computed: mapState(['exercises']),
  methods: {
    buildSession() {
      let totalTime = 0;
      this.sessionExercices = [];
      if (this.categories.length == 0) return;
      let filteredExercises = this.filterExercizes();
      while (totalTime < this.length * 60) {
        let rdm = Math.floor(Math.random() * filteredExercises.length);
        let exo: Exercise = filteredExercises[rdm];
        totalTime +=
          (15 + exo.duration + exo.pause / this.difficulty) * exo.iterations;
        for (let index = 0; index < exo.iterations; index++) {
          this.sessionExercices.push(exo);
        }
      }
    },
    filterExercizes(): Exercise[] {
      return this.exercises.filter((e: Exercise) =>
        e.categories.some((c: string) => this.categories.includes(c))
      );
    },
    async speak(txt: string) {
      let speech = new SpeechSynthesisUtterance(txt);
      speech.lang = 'en-US';
      window.speechSynthesis.speak(speech);
      return new Promise((resolve) => {
        speech.onend = resolve;
      });
    },
    startSession() {
      this.startExercise();
    },
    async startExercise() {
      this.state = sessionState.interlude;
      await this.speak(this.sessionExercices[this.exerciceNumber].label);
      await this.timer.startTimer(3);
      this.state = sessionState.exercising;
      await this.speak(
        'Start ' +
          Math.floor(this.sessionExercices[this.exerciceNumber].duration) +
          ' seconds of' +
          this.sessionExercices[this.exerciceNumber].label
      );
      await this.timer.startTimer(
        this.sessionExercices[this.exerciceNumber].duration
      );
      this.startPause();
    },
    async startPause() {
      this.state = sessionState.pausing;
      await this.speak('Pause ');
      if (this.exerciceNumber == this.sessionExercices.length - 1) {
        this.endSession();
        return;
      }
      await this.speak(
        'Start ' +
          Math.floor(
            this.sessionExercices[this.exerciceNumber].pause / this.difficulty
          ) +
          ' seconds of pause'
      );
      await this.timer.startTimer(
        this.sessionExercices[this.exerciceNumber].pause / this.difficulty
      );
      this.exerciceNumber++;
      this.startExercise();
    },
    pauseSession() {
      this.state = sessionState.sessionPaused;
      this.timer.pauseTimer();
    },
    unpauseSession() {
      this.state = sessionState.exercising;
      this.timer.unpauseTimer();
    },
    endSession() {
      this.state = sessionState.sessionEnded;
      this.speak('Well done! End of session');
    }
  },
  watch: {
    length() {
      this.buildSession();
    },
    categories() {
      this.buildSession();
    }
  }
});
</script>
